view[hidden],
text[hidden],
scroll-view[hidden],
movable-view[hidden],
cover-view[hidden],
rich-text[hidden],
button[hidden],
checkbox[hidden],
form[hidden],
input[hidden],
label[hidden],
picker[hidden],
picker-view[hidden],
radio[hidden],
slider[hidden],
switch[hidden],
textarea[hidden],
navigator[hidden],
image[hidden] {
    display: none !important;
}

button {
    border: 0 none;
    outline: none;
}

body {
    font-size: 24px;
}

//body, html {
//  height: auto;
//}

#app {
    -webkit-overflow-scrolling: touch;
    //height: auto;
    overflow-y: auto;
    font-size: 24px;
    height: 100vh;
    width: 100vw;
}

page {
    width: 100%;
    height: 100vh;
    font-size: 24px;
}

view,
scroll-view,
input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.scrollbar {
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0;
        height: 0;
        opacity: 0;
        color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        opacity: 0;
        color: transparent;
    }
}